* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  color: #191919;
}

header,
#hero {
  background-color: #ffc017;
  border-bottom: 1px solid #191919;
}

header.white {
  background-color: white;
}

body {
  overflow-x: hidden;
}

nav ul li {
  list-style-type: none;
}

@media screen and (max-width: 768px) {
.container {
  width: 93%;
}
}

/*-- HEADER -----------------------------------------------*/

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 1.5s;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: #191919;
  font-weight: 500;
}

header nav ul li a:hover {
  font-weight: 700;
}

header nav ul li {
  transition: transform 0.15s;
}

header nav ul li:hover {
  transform: scale(1.1, 1.1);
}

nav ul li.start,
#hero button {
  padding: 10px 15px;
  background-color: #191919;
  border-radius: 100px;
}

nav ul li.start {
  transition: background-color 1.5s;
}

nav ul li.start.green {
  background-color: #1a8917;
}

nav ul li.start a {
  color: white;
}

@media screen and (max-width: 576px) {
  header nav li {
    display: none;
  }

  header nav li#singIn,
  header nav li.start {
    display: inline-block;
  }
}

/*-- MAIN -------------------------------------------------*/

.author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.author img {
  border-radius: 50%;
  width: 25px;
}

.author h5 {
  font-size: 0.8em;
  font-weight: 700;
}

.author span.gray,
aside span.gray,
.news .newsContent p {
  color: gray;
}

.pubData {
  display: flex;
  gap: 5px;
}

.pubData span {
  font-size: 0.8em;
  font-weight: 600;
  color: gray;
  display: inline-block;
}

/*---- SECTION#HERO -----------------------------*/

#hero {
  margin-bottom: 30px;
  height: 400px;
  position: relative;
}

#hero .container {
  height: 100%;
  display: flex;
  align-items: center;
}

#hero .container div:first-of-type {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero h1 {
  font-family: "Spectral", serif;
  font-size: 6em;
  font-weight: 500;
}

#hero h2 {
  margin-bottom: 40px;
  font-weight: 400;
}

#hero button#startReading {
  color: white;
  width: fit-content;
  padding: 7px 45px;
  font-size: 1.2em;
  cursor: pointer;
}

#hero #svgM {
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  #hero h1 {
  font-size: 5em;
}

#hero #svgM {
  right: -180px;

}
}

@media screen and (max-width: 576px) {
  #hero #svgM {
    display: none;
  }
}


/*---- SECTION#TRENDING -------------------------*/

#trending h2 {
  font-size: 0.9em;
  margin-bottom: 15px;
}


#trending h2::before {
  content: url('/assets/imgs/svg/trending.svg');
  height: 100%;
  position: relative;
  top: 8px;
  margin-right: 5px;
}

#trending .trendsContainer {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.trendsContainer .trend {
  width: 32%;
  display: flex;
  margin-bottom: 40px;
}

.trend > span {
  display: inline-block;
  width: 60px;
  color: #E6E7E6;
  font-weight: 800;
  font-size: 1.8em;
}

.trend .trendContents {
  width: 80%;
  padding-top: 5px;
}

.trendContents h4 {
  font-size: 1em;
  font-weight: 800;
  margin: 10px 0;
}

.trendContents .pubData span.star,
.newsContent .pubData .information span.star {
  position: relative;
  bottom: 2px;
}

@media screen and (max-width: 768px) {
  .trendsContainer .trend {
    width: 48%;
    display: flex;
    margin-bottom: 40px;
  }

  .trend .pubData {
    display: flex;
    justify-content: space-between;
  }

  .trend span.star {
    display: none;
  }
}

@media screen and (max-width: 576px) {
#trending h2 {
  font-weight: 800;
  }


  .trendsContainer .trend {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
  }

  .trend .author h5 {
    font-weight: 800;
    font-size: 0.85em;
  }

  .trendContents h4 {
    font-weight: 800;
  }
}

/*---- NEWSAREA ---------------------------------*/

div.newsArea {
  margin-top: 70px;
  display: flex;
  gap: 70px;
}

#newsContainer {
  width: 68%;
}

.newsArea aside {
  width: 35%;
  position: sticky;
  top: 80px;
  height: fit-content;
}

@media screen and (max-width: 768px) {
  div.newsArea {
  margin-top: 40px;

    flex-direction: column;
    gap: 30px;
  }
  
  .newsArea aside {
    order: 1;
    width: 90%;
    position: inherit;
  }

  #newsContainer {
    order: 2;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .newsArea aside {
    width: 100%;
  }
}

/*------ NEWS-SECTION ---------------------------*/
.news {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.news .newsContent {
  width: 67%;
}

.news .newsContent h4 {
  font-size: 1.3em;
  font-weight: 800;
  margin: 10px 0 5px;
}

.news .newsContent p {
  font-size: 1em;
  line-height: 1.2em;
  max-height: 2.5em;
  overflow: hidden;
}

.news .newsContent p::after {
  content: '...';
}

.newsContent .pubData {
  justify-content: space-between;
  margin-top: 5px;
}

.newsContent .pubData span.topic {
  padding: 3px 6px;
  background-color: #F2F3F3;
  border-radius: 100px;
}

.newsContent .pubData span.star {
  position: relative;
  top: 6px;
}

.news .newsImage {
  width: 32%;
}

.news .newsImage img {
  width: 100%;
}

@media screen and (max-width: 576px) {
.news .newsContent {
  width: 58%;
}

.news .newsImage {
  width: 40%;
}

.news .pubData span {
  font-size: 0.7em;
  font-weight: 500;
}

}


/*------ ASIDE ----------------------------------*/

.newsArea aside h2 {
  font-size: 1em;
  margin: 10px 0 1em;
}

.newsArea aside .topicsContainer {
  display: flex;
  flex-wrap: wrap;
  
  gap: 10px;
  margin-bottom: 2em;
}

.newsArea aside .topicsContainer span {
  padding: 7px 15px;
  border: 1px solid lightgray;
  font-size: 0.8em;
  cursor: pointer;
}

aside nav {
  margin-top: 20px;
  padding-top: 1em;
  border-top: 1px solid lightgray;
}

aside nav ul {
  flex-wrap: wrap;
  align-content: self-start;
  gap: 10px;
}

aside nav ul li a:link,
aside nav ul li a:visited {
  color: gray;
  font-size: 0.9em;
  padding: 2px 5px;
}

@media screen and (max-width: 768px) {  
  .newsArea aside h2 {
    font-size: 0.9em;
    font-weight: 800;
  }

  aside nav {
    width: 110%;
  }
}

@media screen and (max-width: 576px) {
  .newsArea aside .topicsContainer span {
    font-weight: 700;
  }

  aside nav {
    width: 100%;
  }

  aside nav ul li {
    margin-right: 10px;
  }
}